    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p> I am a PhD student in the <b> Bioengineering </b> program at the <a href="https://be.seas.upenn.edu/doctoral/"> University of Pennsylvania </a> working with Neil Sheppard and <a href="https://www.med.upenn.edu/junelab/"> Carl June</a>. I engineer T cells with better anti-tumor properties and am generally interested in synthetic biology approaches to design better immune cells. </p>
                <p> Always curious. Send me a message to chat. </p>
            </div>
        </div>
    </section>
