    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p> I am a postdoctoral fellow working mainly with <a href="https://www.srivatsan-lab.com/"> Sanjay Srivatsan </a> at the Fred Hutchinson Cancer Research Center, where I am interested in genomic and synthetic biology methods to design new immune cell behavior. </p>
                <p> Previously, I completed a Ph.D. in bioeingineering at the University of Pennsylvania working with <a href="https://www.med.upenn.edu/junelab/"> Carl June </a> and Neil Sheppard using gene editing to improve CAR-T cell function against solid tumors. </p>
                <p> Always happy to connect - send a message about anything! </p>
            </div>
        </div>
    </section>
