    <!-- Blog Section -->
    <section id="blog" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Recent Posts</h2>
                <div class="blog-preview">
                    {% for post in site.posts limit:3 %}
                    <div class="blog-post-preview">
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
                        <p>{{ post.excerpt }}</p>
                        <a href="{{ post.url }}" class="btn btn-default">Read More</a>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <a href="/blog.html" class="btn btn-default btn-lg">View All Posts</a>
            </div>
        </div>
    </section>
