    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h6>
<!--                         <p class="intro-text">{{ site.description }}<br> -->
<!--                         <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                        <p class="intro-text">
                            <span class="typewrite" data-period="2000" data-type='["Postdoc @ Fred Hutch", "Engineering human immune cells with new properties", "San Francisco native", "Potter and woodwork enthusiast"]'>
                                <span class="wrap"></span>
                            </span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </header>
